/* Navbar.css */
.transition-colors {
  transition: color 0.3s ease;
}

body {
  color: black; /* Default text color */
  transition: color 0.3s ease; /* Smooth transition for text color */
}

body.dark-mode {
  color: white; /* Text color for dark mode */
  background-color: black; /* Background color for dark mode */
}
