/* autograde/components/ui/EvaluationSection.css */
.evaluation-section {
  text-align: center;
  padding: 40px 20px;
}

.evaluation-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  
  border: 1px solid #e0e0e0; /* Light border */
  border-radius: 8px;
  padding: 20px;
  width: 30%; /* Adjust width as needed */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.icon {
  font-size: 2rem; /* Adjust icon size */
  margin-bottom: 10px;
}
